/* variables */
:root {
    --primario: #ffc107;
    --secundario: #0097a7;
    --oscuro: #212121;
}

html {
    box-sizing: border-box;
    min-height: 100%;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    font-family: 'Krub', sans-serif;
    font-size: 1.6rem;
    min-height: 100%;
}
h1, h2, h3 {
    margin: 0;
}
h2, h3 {
    text-align: center;
}
h3 {
    color: var(--secundario);
    font-weight: 400;
    font-size: 3rem;
}
p {
    font-size: 1.6rem;
    line-height: 2;
}
.site-header {
    background-color: #ffffff;
}
.site-header nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem ;
    /* Aplicar flex */
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width:768px) {
    .site-header nav {
        flex-direction: row;
        justify-content: space-between;
    }
    
}
.site-header nav a {
    color: var(--oscuro);
    font-size: 2.2rem;
    margin-bottom: 2rem;
    text-decoration: none;
}
.site-header nav a:last-of-type {
    margin-bottom: 0;
}

@media (min-width:768px) {
    .site-header nav a {
        margin-bottom: 0;
    }
}
.hero {
    align-items: center;
    background-image: url(../img/hero.jpg);
    display: flex;
    height: 45rem;
    justify-content: center;
    position: relative;
}
.hero::after {
    content: '';
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    bottom: 0;
}
.contenedor-hero {
    color: #ffffff;
    position: relative;
    text-align: center;
    z-index: 1;
}
.contenedor-hero i {
    color: var(--primario);
    font-size: 5rem;
}
.boton {
    background-color: var(--secundario);
    border-radius: .5rem;
    color: #ffffff;
    display: inline-block;
    font-weight: 700;
    font-size: 2.2rem;
    margin-top: 1rem;
    padding: 1rem 4rem;
    text-decoration: none;
    text-transform: uppercase;
}
.contenedor {
    background-color: #ffffff; 
    border-radius: 1rem;
    max-width: 1200px;     
    margin: 0 auto;
    padding: 3rem;
    -webkit-box-shadow:0px 10px 21px -9px rgba(0,0,0, .74);
    -moz-box-shadow:0px 10px 21px -9px rgba(0,0,0, .74);
    box-shadow:0px 10px 21px -9px rgba(0,0,0, .74);
}
.servicios {
    margin: 3rem auto;
}
.contenedor-servicios {
    margin-top: 3rem;
}
@media (min-width:768px){
    .contenedor-servicios {
        display: flex;
        justify-content: space-between;
    }
    .servicio {
        flex: 0 0 calc(33.3% - 1rem);
    }
}
.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.iconos {
    align-items: center; 
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    font-size: 3rem;
    justify-content: space-evenly; 
    height: 100px;
    margin-top: 2rem; 
    width: 100px;
}